.banner {
  color: white;
  /* background-color: orange; */
  height: 450px;
  width: 100%;
  background-size: cover;
  /* background-position: center; */

  object-fit: cover;
}
.banner__wrap {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 100px;
  /* place-items: center; */
}
.banner__wrap a {
  text-decoration: none;
  color: #fff;
  background-color: red;
  padding: 5px 14px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
}
.banner__wrap > a:hover {
  background-color: #fff;
  color: red;
}

.banner__title {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: -60px;
}
.banner__para {
  max-width: 380px;
  margin-bottom: 20px;
}

.gradient {
  margin-top: -80px;
  /* background-color: white; */
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  height: 80px;
}

@media screen and (max-width: 768px) {
  .banner {
    background-position: center center;
  }
  .banner__wrap {
    padding: 0 30px;
  }
  .banner__title {
    font-size: 24px;
  }
  .banner__para {
    max-width: 280px;
  }
}
