.detail__wrap {
  /* height: auto; */
  width: 100%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

.movie_details {
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 80px 40px;
}
.movie_content {
  /* width: 450px; */
  max-width: 550px;
  margin-left: 20px;
}

.home__page {
  color: #fff;
  text-decoration: none;
}
.detail__title {
  font-size: 40px;
  margin-bottom: 5px;
}

.detail__para {
  margin-top: 10px;
  line-height: 1.5;
}
.movie_poster {
  height: 380px;

  object-fit: contain;
}
.genre_tag {
  font-size: 12px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  padding: 2px 4px;
}

/*  genres */
.comedy {
  background-color: green;
}
.action {
  background-color: red;
}
.science {
  background-color: darkblue;
}
.crime {
  background-color: darkred;
}
.thriller {
  background-color: darkslategray;
}

@media screen and (max-width: 768px) {
  .movie_details {
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    text-align: center;
  }
  .movie_poster {
    width: 50%;
    margin-bottom: 15px;
  }
  .detail__title {
    font-size: 28px;
  }
  .detail__para {
    font-size: 14px;
  }
  .genre_tag {
    font-size: 10px;
  }
}
