.nav {
  /* padding: 10px 20px; */
  margin-right: 30px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.nav > a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: red;
}
